.navbar {
  width: var(--navbar-width);
  position: fixed;
  height: 100vh;
  overflow: auto;
  top: 0;
  z-index: 5;
  left: 0;
  background: var(--bg2);
  box-shadow: 0 0 15px -3px #000;
  transition: var(--navbar-transition);
  &.hidden {
    transform: translateX(-100%);
    pointer-events: none;
  }
  @media only screen and (max-width: 1000px) {
    display: none;
  }
}

.inner {
  width: var(--navbar-width);
  position: relative;
  box-sizing: border-box;
  height: 100%;
  padding: calc(var(--topBarHeight) + 0.5rem) 0.5rem 0.5rem 0.5rem;
}

.items {
  position: relative;
  display: flex;
  flex-direction: column;
  //gap: 0.25rem;
}

.burger {
  position: fixed;
  top: 0.5rem;
  left: 1.25rem;
  z-index: 1001;
  transition: opacity 0.1s ease-in-out;

  @media only screen and (max-width: 1000px) {
    display: none;
  }
  &.navShown {
    &:global(.button) {
      background-color: transparent;
      transition: background-color 0.1s ease-in-out;
      &:hover {
        background-color: var(--button-bg);
      }
    }
  }
}

:global(.hide-desktop-controls) .burger {
  opacity: 0;
}

.item {
  :global(.button) {
    display: block;
    background-color: transparent;
    transition: none;
    padding: 0.8em;
    &:hover {
      background-color: var(--button-bg);
    }
    :global(.iconCont) {
      padding: 0 1em;
    }
  }
  .itemInner {
    position: relative;
  }
}

.active {
  position: absolute;
  top: 50%;
  left: -60px;
  transform: translateY(-50%);
  height: 120%;
  width: 5px;
  background: var(--accent);
  transition: height 0.1s ease-in;
  border-radius: 99px;
  &.hidden {
    height: 0;
  }
}

.itemBackground {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.25em;
  background: var(--accent);
  opacity: 0.2;
  transition: opacity 0.1s ease-in-out;
  &.bgHidden {
    opacity: 0;
  }
}
