.front {
    position: relative;
    transition: transform 0.1s ease-in;
    transform: scale(var(--modal-scaler, 1));
    width: 100%;
}
:global(body:not(.dragging)) .front {
    transition-duration: .1s;
}
