.poster {
  height: var(--height);
  width: var(--width, calc(var(--height) * var(--aspect-ratio)));
  position: relative;

  border: none;
  background: transparent;
  padding: 0;
  padding-bottom: var(--padding-bottom, 0);
  margin: 0;
  cursor: pointer;
  @media (pointer: coarse) {
    scroll-snap-align: start;
  }
  .posterImage {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform 0.1s ease-in-out;
    border-radius: calc(var(--height) * 0.02);
    pointer-events: none;
    .loaderCont {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: rgba(255, 255, 255, 0.02);
    }
    .loader {
      background-blend-mode: lighten;
      height: 100%;
      width: 100%;
      opacity: 0.1;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  .coverup {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 101%;
    height: 101%;
    transform: translate(-50%, -50%);
  }
  .badge {
    position: absolute;
    top: 0.2em;
    left: 0.2em;
    z-index: 10;
    font-size: clamp(0.7rem, 1vw, 1rem);
    background: rgba(1, 1, 1, 0.8);
    color: #fff;
    border-radius: 0.3em;
    padding: 0.3em;
    box-sizing: border-box;
    @media screen and (min-width: 700px) {
      .mobileBreakLine {
        display: none;
      }
    }
    @media screen and (max-width: 700px) {
      .desktopBullet {
        display: none;
      }
    }
  }
  &:hover .badge {
    background: #111;
  }
  /* &:active {
        opacity: 0.6;
        .posterImage {
            transform: scale(0.94);
        }
    } */

  .infoButton {
    position: absolute;
    top: 0.2em;
    right: 0.2em;
    font-size: 0.3rem;
    :global(.button) {
      transform: scale(0.8);
      transform-origin: top right;
      opacity: 0;
      transition: all 0.1s ease-in;
    }
  }
  &:hover .infoButton {
    :global(.button) {
      opacity: 1;
      background-color: rgba(0, 0, 0, 0.6);
    }
    &:hover :global(.button) {
      background-color: var(--button-bg);
    }
  }

  &:hover {
    opacity: 0.8;
  }
}
@keyframes loading {
  0% {
    left: -100%;
  }
  to {
    left: 100%;
  }
}

.label {
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  left: 0;
  text-overflow: ellipsis;
  height: 2.5em;
  width: 100%;
  color: var(--color);
  text-align: left;
  padding: 0.15em;
  box-sizing: border-box;
  /* word-break: break-all; */
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-size: var(--font-size);
}

.posterList {
  color: var(--color);
  cursor: pointer;
  .content {
    transition: all 0.15s ease-in-out;
    position: relative;
    --padding: 0.5rem;
    padding: var(--padding);
    width: 100%;
    --height: 200px;
    height: var(--height);
    box-sizing: border-box;
    background: var(--button-bg);
    border-radius: calc(var(--height) * 0.04);
    display: flex;
    overflow: hidden;
  }
  &.details .content {
    --height: 135px;
  }
  &:hover .content {
    transform: translateY(-5%) scale(1.01);
    box-shadow: 0 5px 15px #000;
  }
  .posterWrapper {
    height: 100%;
    .posterImage {
      border-radius: calc(var(--height) * 0.03);

      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
      width: calc(var(--height) * var(--aspect-ratio));
    }
  }

  .info {
    padding: 0 var(--padding);
    .title {
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      display: -webkit-box;
      overflow: hidden;
    }
    .genres {
      display: flex;
      overflow: hidden;
      column-gap: 0.5em;
      flex-wrap: wrap;
      .genre {
        &:not(:last-child)::after {
          position: relative;
          content: "•";
          right: -0.25em;
          color: #666;
          transform: translateX(20px);
        }
        font-size: 0.8rem;
        color: var(--accent);
        opacity: 0.9;
      }
    }
    .desc {
      position: relative;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 6;
      font-size: 0.7rem;
      display: -webkit-box;
      overflow: hidden;
    }
  }
}

.loading {
  animation: 1s loading cubic-bezier(0.4, 0, 0.2, 1) infinite;
  background: linear-gradient(
    90deg,
    hsla(0, 0%, 100%, 0) 0,
    #fff 50%,
    hsla(0, 0%, 100%, 0)
  );
}

.fakeTitle {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.1em;
  > * {
    height: 1em;
    border-radius: 0.1em;
    position: relative;
    background: rgba(255, 255, 255, 0.2);
    opacity: 0.3;
    overflow: hidden;
    &:first-child {
      & > * {
        animation-delay: 0.1s;
      }
    }
    &:nth-child(2) {
      & > * {
        animation-delay: 0.15s;
      }
    }
    > * {
      position: relative;
      width: 100%;
      height: 100%;
    }
  }
}
