.cont {
  position: relative;
}

.itemsList {
  position: fixed;
  top: 100%;
  left: 0;
  transform: scale(0.7) translateY(-50px);
  transition: transform 0.12s ease-in, opacity 0.07s ease-in;
  z-index: 9999;
  opacity: 0;
  pointer-events: none;
  &.open {
    pointer-events: all;
    transform: none;
    opacity: 1;
    transition: transform 0.2s cubic-bezier(0.33, 0.22, 0.2, 1.35),
      opacity 0.2s ease-in;
  }
  display: flex;
  flex-direction: column;
  background: var(--bg2);
  --scrollbarBG: var(--bg2);
  border-radius: 0.3rem;
  overflow: hidden;
  box-shadow: 0 10px 30px -3px #000;
  .inner {
    padding: 0.2rem;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    overflow: auto;
  }
}

.button {
  position: relative;
}
