.layout {
  position: relative;
  transition: height 0.15s ease-in;

  transform: scale(var(--scaler-reset, 1));

  box-sizing: border-box;
  display: flex;
  width: 100%;

  height: calc(100% - var(--topBarResolvedHeight) * 1);

  @media (pointer: coarse) {
    height: 100vh;
  }
}

:global(body:not(.standalone)) .layout {
  padding-top: env(safe-area-inset-top, 0);
}

.navbar {
  flex: none;
  position: relative;
  width: 0;
  transition: var(--navbar-transition);
  will-change: width;

  height: 100%;
  &.shown {
    transition: width 0.17s ease-out;
    width: var(--navbar-width);
  }
  @media only screen and (max-width: 1000px) {
    display: none;
  }
}

.sidebar {
  position: relative;
}
.freeContent {
  position: relative;
  width: 100%;
  height: 100%;

  @media only screen and (pointer: coarse) {
    overflow-x: hidden; // might cause issues with ios (if it does ):
  }
  @media only screen and (pointer: fine) {
    overflow: hidden;
  }
}

.content {
  --constrain: 1200px;
  max-width: calc(min(100%, var(--constrain)));
  width: 100%;
  margin: 0 auto;
  padding: 0.5rem;
  box-sizing: border-box;
  flex: 1;
  overflow: auto;
  min-height: 300px;
  /* animation-name: fade-in;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    opacity: 0; */
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
