
.pageIndicator {
    position: absolute;
    padding: 0.3em 0.4em;
    left: 50%;
    transform: translate(-50%, calc(-50px - 0.5rem));
    bottom: 0;
    pointer-events: none;
    transition: all 0.1s ease-out;
    background: var(--bg3);
    z-index: 5;
    border-radius: 0.3em;
    filter: drop-shadow(0 0 2px rgb(20, 20, 20));
    @media screen and (min-width: 1000px) {
        display: none;
    }
}