.manga {
  position: fixed;
  z-index: 9999;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  --padding: 4rem 2rem;
  --overrideAccent: rgb(95, 95, 95);
  transition: all 0.2s ease-in-out;
  pointer-events: none;
  opacity: 0;
  &.shown {
    opacity: 1;
    pointer-events: all;
  }
  .bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: 0;
    transition: opacity 0.2s ease-in;
  }
  &.shown .bg {
    opacity: 0.9;
  }
  .content {
    transform: translateY(-30px) scale(0.9);
    transition: all 0.2s ease-in-out;
    overflow: auto;
    padding: var(--padding);
    padding-top: 0;
    box-sizing: border-box;
    position: relative;
    width: calc(100%);
    height: calc(100%);
    .offset {
      padding-top: 4rem;
    }
    .inner {
      --constrain: 1500px;
      max-width: var(--constrain);
      margin: 0 auto;
      /* background: var(--bg); */
      padding: 1rem;
      box-sizing: border-box;
      border-radius: 0.5rem;
    }
  }
  &.shown .content {
    transform: none;
  }
}

.inlineGenre {
  display: inline-block;
  display: flex;
  align-items: center;
  gap: 0.3em;
}
.genres {
  display: flex;
  gap: 0.3em;
  align-items: center;
  .genre {
    padding: 2px;
    color: var(--color);
    border-radius: 3px;
    &:hover {
      color: var(--accent);
      background: var(--bg3);
    }
  }
}

.topSection {
  display: flex;
  gap: 2rem;
}

.aside {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.buttons {
  position: sticky;
  top: 4.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.poster {
  --height: 400px;
}
.title {
  color: #fff;
  h1 {
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 6rem;
    margin: 0;
  }
  line-height: 0.8;
  &.longTitle h1 {
    font-size: 4rem;
  }
}

.desc {
  font-size: 1.1rem;
  max-width: 700px;
  p {
    margin-top: 0.4em;
  }
}

.switcherLabel {
  font-size: 0.8rem;
  margin-top: 20px;
  font-weight: bold;
}

.nav {
  position: sticky;
  top: 0.5rem;
  width: calc(100% + 1rem);
  margin-left: -0.5rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: all 0.15s ease-out;
  z-index: 4;
  display: flex;
  align-items: center;
  color: #ccc;
  &.fixed {
    background: rgba(27, 27, 27, 0.9);
    box-shadow: 0 0 40px rgb(0, 0, 0);
  }
  .navTitle {
    font-size: 1.1rem;
    text-align: right;
    flex: 1;
    padding: 0 1rem;
    transition: opacity 0.15s ease;
    opacity: 0;
    &.showTitle {
      opacity: 1;
    }
  }
}

.chaptersCont {
  max-width: 700px;

  margin-top: 40px;
  .chapterInner {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
  }
  .chaptersTitle {
    padding-bottom: 0.5rem;
  }

  .chapters {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
  }
}

.switchers {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
