:root {
  --topBarHeight: 55px;

  @media only screen and (max-width: 1000px) {
    --topBarHeight: 45px;
  }
}
.topBarFake {
  height: var(--topBarHeight);
  position: relative;
  width: 100%;
  display: block;
  &.fakeHidden {
    height: 0;
  }
}
:global(.standalone) {
  .topBarFake,
  .topBar {
    @media (pointer: coarse) {
      display: none;
    }
  }
}
.topBar {
  position: fixed;
  top: 0;
  top: env(safe-area-inset-top, 0);
  left: 0;
  width: 100%;
  height: var(--topBarHeight);
  background: var(--bg2);
  --shadowSize: 20px;
  @media only screen and (max-width: 1000px) {
    --shadowSize: 10px;
  }
  box-shadow: 0 0 var(--shadowSize) -2px #000;

  z-index: 1000;
  transition: transform 0.15s ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.3rem;
  box-sizing: border-box;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: env(safe-area-inset-top, 0);
    width: 100%;
    transform: translateY(-100%);
    background: inherit;
  }
  .cover {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 9;
    pointer-events: none;
  }
  .exitButton {
    z-index: 1003;
  }
  &.coverShown {
    background: transparent;
    z-index: 1002;
    .cover {
      pointer-events: all;

      background: rgba(0, 0, 0, 0.9);
    }
  }

  @media only screen and (max-width: 1000px) {
    justify-content: right;
  }
  &.topHidden {
    transition-timing-function: ease-in;
    transform: translateY(calc(-100% - var(--shadowSize)));
  }
}
