.pagePreviewTrigger {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-bottom: clamp(100px, 9%, 300px);
  z-index: 4;
  @media screen and (max-width: 1000px) {
    display: none;
  }
}

.preview {
  position: absolute;
  bottom: 2.5rem;
  display: fleX;
  justify-content: center;
  width: 100%;
  z-index: 10;
  transition: all 0.25s ease-in;
  transform: none;
  opacity: 1;
  --ratio: calc(1100 / 857);
  .previewInner {
    position: relative;
    display: flex;
    justify-content: center;
    width: min(90%, 2000px);
    box-sizing: border-box;
    &.previewFlipped {
      flex-direction: row-reverse;
    }
  }
  &.pagePreviewHidden {
    opacity: 0;
    bottom: -20px;
    pointer-events: none;
    transform: scale(0.98);
  }
  .navButton {
    position: absolute;
    bottom: 0;
    flex: 1;
    padding-bottom: calc(var(--ratio) * 100% + 6px);
    &.navButton-right {
      right: 0;
      transform: translateX(calc(100% + 0.25rem));
    }
    &.navButton-left {
      left: 0;
      transform: translateX(calc(-100% - 0.25rem));
    }
    width: calc(100% - 0.25rem);
    > *:first-child {
      height: 100%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
    &.navButton-left > *:first-child {
      right: 0;
    }
  }
}
