.header {
  display: flex;
  @media screen and (max-width: 800px) {
    gap: .5em;
    align-items: center;
  }
  .title {
    flex: 1;
    @media screen and (max-width: 800px) {
      flex: none;
    }
  }
  .controls {
    opacity: 0;
    transition: all 0.2s ease-in 0.35s;
    flex: none;
    transform: scale(0.9) translateY(10%);
    display: flex;
    gap: 0.25rem;
  }
  .unit {
    background: var(--button-bg);
    display: flex;
    margin: 0 0.25rem;
    border-radius: 0.25em;
    font-size: 1rem;
    gap: 0.25rem;
    box-sizing: border-box;
  }
  .mobileControls {
    display: none;
    font-size: clamp(1rem, 0.3em, 1.5rem);
    flex: 1;
  }
  @media screen and (max-width: 800px) {
    .controls {
      display: none;
    }
    .mobileControls {
      display: block;
    }
  }
}

.carousel {
  position: relative;

  box-sizing: border-box;
  padding: var(--gap);

  &:hover {
    .header .controls {
      transform: none;
      transition: opacity 0.2s ease-in;
      opacity: 1;
    }
  }
}
.content {
  --gap: clamp(0.4rem, 1vw, 1rem);
  // for poster
  --height: clamp(
    100px,
    calc((33vw / var(--aspect-ratio)) - var(--gap) * 2 - 10px),
    350px
  );
  /* --height: 100%;
    --width: 80%; */
  --font-size: clamp(0.7rem, 2vw, 1.3rem);
  font-size: var(--font-size);
  position: relative;
  display: flex;
  gap: var(--gap);
  padding: var(--gap) 0;
  width: 100%;
  overflow: auto;
  min-height: 200px;
  /* padding-bottom: calc(2em + 0.6em); */
  -webkit-overflow-scrolling: touch;
  //scroll-behavior: smooth;
  @media (pointer: coarse) {
    scroll-snap-type: x mandatory;
  }

  > * {
    flex: none;
  }
}

.desktop {
  position: relative;
  --height: 100%;
  --width: 100%;
  --padding-bottom: calc(var(--height) * (1 / var(--aspect-ratio)));
  width: 100%;
  :global(.swiper-pagination) {
    position: absolute;
    /* bottom: 0;
        transform: translateY(calc(100% + 1rem)); */
  }
  :global(.swiper) {
    --swiper-theme-color: var(--accent);
    --swiper-pagination-bullet-inactive-color: var(--color2);
    padding-bottom: 30px !important;
    :global(.swiper-scrollbar-drag) {
      background-color: var(--color);
      opacity: 0.3;
    }
  }
  .desktopInner {
    padding-bottom: 3.5rem;
  }
}
