.nav {
  position: sticky;
  top: 0.5rem;
  width: calc(100% + 1rem);
  margin-left: -0.5rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: all 0.15s ease-out;
  z-index: 4;
  display: flex;
  align-items: center;
  color: #ccc;
  &.fixed {
    background: rgba(27, 27, 27, 0.9);
    box-shadow: 0 0 40px rgb(0, 0, 0);
  }
  .navTitle {
    font-size: 1.1rem;
    text-align: right;
    flex: 1;
    padding: 0 1rem;
    transition: opacity 0.15s ease;
    opacity: 0;
    &.showTitle {
      opacity: 1;
    }
  }
}
