.results {
  position: relative;
  .closeCont {
    display: flex;
    justify-content: flex-end;
    position: sticky;
    top: 10px;
    z-index: 99;
    max-width: 1500px;
    margin: 0 auto;
    height: 0;
  }
  .close {
    z-index: 99;
    position: absolute;
    right: 0;
    top: 0;
    background: var(--bg3);
    box-shadow: 0 3px 10px #000;
    @media screen and (max-width: 1000px) {
      display: none;
    }
  }
}
.inner {
  position: relative;
  box-sizing: border-box;
  padding: 1rem;

  @media screen and (max-width: 800px) {
    padding: 0;
  }
}
.top {
  position: relative;
  h2 {
    font-size: clamp(1.1rem, 3vw, 2.2rem);
    padding: 0;
    margin: 0;
    margin-bottom: 1.5em;
    @media screen and (max-width: 800px) {
      display: none;
    }
  }
}
.content {
  position: relative;
  max-width: 1500px;
  margin: 0 auto;
}

.item {
  display: flex;
  justify-content: center;
  position: relative;
  --gap: 0rem;
  --height: clamp(
    200px,
    calc((33vw / var(--aspect-ratio)) - var(--gap) * 2 - 10px),
    350px
  );
}
