.info {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: transparent;
    transition: background 0.2s ease-out;
    animation-fill-mode: forwards;
    pointer-events: none;
    overflow: auto;
    max-width: 100vw;
    -webkit-overflow-scrolling: touch;
    overscroll-behavior-y: none;
    z-index: 10;

    overflow: hidden;
    &.shown {
        overflow: auto;
    }
    .content {
        transform: translateY(calc(100vh + 60px));
        @media only screen and (min-width: 850px) {
            opacity: 0;
            pointer-events: none;
        }
        transition: all 0.25s ease-out;
        top: 0;
        left: 0;
        z-index: 1;
        position: relative;
        width: 100%;
        height: 100%;
        overflow: visible;
        --handle-height: 50px;
        --local-bg: var(--bg2);
        .handle {
            height: calc(1000px + var(--handle-height));
            transform: translateY(-1000px);
            cursor: default;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 3;
            .handleInner {
                position: absolute;
                height: 50px;
                bottom: 0;
                left: 0;
                width: 100%;
            }
        }
        @media screen and (min-width: 840px) {
            max-width: 800px;
            margin: 0 auto;
        }

        .inner {
            min-height: 100%;
            top: var(--handle-height);
            left: 0;
            width: 100%;
            overflow: auto;
            border-radius: 1.5em 1.5em 0 0;
            background: var(--local-bg);
            overflow: visible;
        }
        /* &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 600px;
            transform: translateY(100%);
            background: var(--local-bg);
        } */
    }
    &.shown {
        .content {
            opacity: 1;
            pointer-events: all;
        }
    }
    .handleBar {
        position: absolute;
        top: 6px;
        height: 4px;
        background: rgb(114, 114, 114);
        left: 50%;
        transform: translateX(-50%);
        width: 100px;
        border-radius: 99px;
        @media screen and (min-width: 800px) {
            display: none;
        }
    }
    .handleControls {
        padding: 0.5rem 0.5rem 0 0;
        box-sizing: border-box;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;

        display: flex;
        align-items: center;
    }
    .closeButton {
        border-radius: 50%;
        border: none;
        background: var(--bg3);
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--color);
        cursor: pointer;
        transition: transform 0.1s ease-in-out;
        :global(.icon) {
            opacity: 0.6;
            height: 70%;
        }
        &:hover,
        &:active {
            color: var(--color2);
        }
        &:active {
            transform: scale(0.9);
        }
    }
    &.shown {
        background: rgba(0, 0, 0, 0.4);
        pointer-events: all;

        .content {
            transition: transform 0.3s ease-out;
            transform: scale(calc(var(--modal-scaler, 1) * 0.4 + 0.6))
                rotateX(calc((1 - var(--modal-scaler, 1)) * -90deg))
                translateY(calc(var(--offset, 60px)));
        }
        &.dragging .content {
            transition: none;
            .handleBar {
                //background: #ccc;
            }
        }
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    @media only screen and (max-width: 850px) {
        display: none;
    }
}
