.label {
  display: inline-block;
  .tag {
    font-size: 0.9rem;
    font-weight: bold;
  }
  .labeled {
    flex: none;
    display: inline-block;
  }
}

.button {
  -webkit-tap-highlight-color: transparent;
  --padding: 0.7em;
  min-width: 41px;
  font-size: 1rem;
  position: relative;
  @media only screen and (max-width: 1000px) {
    --padding: 0.55em;
    min-width: 36px;
  }

  &.compact {
    --padding: 0.6em;
    font-size: 0.8rem;
    @media only screen and (max-width: 1000px) {
      --padding: 0.5em;
    }
  }

  padding: var(--padding);
  &.slim {
    padding-right: calc(0.6 * var(--padding));
    padding-left: calc(0.6 * var(--padding));
    min-width: 30px;
  }
  &.beefy {
    --padding: 1em;
  }
  background: var(--button-bg);

  &.hasLegend {
    --padding: 1em 0.7em;
  }
  color: #fff;
  border: none;
  margin: 0;

  border-radius: 0.25em;
  &.circle {
    border-radius: 50%;
  }
  display: inline-block;
  text-decoration: none;
  box-sizing: border-box;
  cursor: pointer;
  overflow: hidden;
  transition: filter 0.3s ease-out, background 0.15s ease-in,
    transform 0.05s ease-out;
  &[disabled] {
    opacity: 0.7;
    pointer-events: none;
  }
  .legend {
    position: absolute;
    bottom: 0;
    transform: translateX(-50%) translateY(100%);
    font-size: 0.7em;
    width: 200%;
    text-align: center;
    left: 50%;
  }
  &.accent {
    background: var(--accent);
  }
  &:not(.noHoverEffect, .accent):hover {
    filter: drop-shadow(0 1px 2px #111);
    background: var(--bgShaded);
  }

  &:active {
    filter: drop-shadow(0 2px 5px #111);
    transform: scale(0.95);
  }
  &.fullWidth,
  & .text {
    width: 100%;
    position: relative;
  }
  &.transparent {
    background: transparent;
    &:not(.noHoverEffect):hover {
      filter: drop-shadow(0 1px 2px #111);
      @media (pointer: fine) {
        background: var(--bgShaded);
      }
    }
  }
  .loading {
    position: absolute;
    background: inherit;
    border-radius: inherit;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.3s ease-out;
    pointer-events: none;
    transform: scale(1);
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: rgba(0, 0, 0, 0.3);
    }
    :global(.icon) {
      height: 40%;
      color: var(--color);
      animation: spin 0.6s linear infinite;
      will-change: transform;
    }
  }
  &.isLoading .loading {
    opacity: 1;
    transition: all 0.14s ease-in-out;
    transform: scale(1);
    :global(.icon) {
      animation-duration: 0.3s;
    }
  }
  &.isLoading {
    pointer-events: none;
  }
  &.fadedAccent {
    color: var(--accent);
    background: #111;
  }
  &.hoverReveal {
    --offset: calc(1em / 2 + calc(var(--padding) * 0.8) / 2);
    .iconCont {
      opacity: 0;
      transition: all 0.13s ease-in-out;
      transform: translate(var(--offset)) scale(0.6);
      will-change: transform;
    }
    .text {
      transition: transform 0.13s ease-in-out;
      transform: translateX(var(--offset));
      will-change: transform;
    }
    &:hover {
      .iconCont {
        opacity: 1;
        transform: none;
      }
      .text {
        transform: none;
      }
    }
  }
}

.fakeBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--accent);
  opacity: 0.3;
}

.inner {
  -webkit-tap-highlight-color: transparent;
  position: relative;
  display: flex;
  gap: calc(var(--padding) * 0.8);
  justify-content: center;
  &.alignCenter .text {
    justify-content: center;
  }
  .text {
    display: flex;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
  }
}

.iconCont {
  position: relative;
  width: 1em;
  height: 1.1em;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  :global(.icon) {
    position: absolute;
    height: 100%;
  }
}
.hasLegend .iconCont {
  transform: translateY(-30%);
}

@keyframes spin {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(360deg);
  }
}
