.label {
  display: inline-block;
  .tag {
    font-size: 0.9rem;
    font-weight: bold;
  }
  .labeled {
    flex: none;
    display: inline-block;
  }
}

.button {
  -webkit-tap-highlight-color: transparent;
  --padding: 0.7em;
  min-width: 41px;
  @media only screen and (max-width: 1000px) {
    --padding: 0.55em;
    min-width: 36px;
  }

  padding: var(--padding);
  background: var(--button-bg);
  &.hasLegend {
    --padding: 1em 0.7em;
  }
  color: #fff;
  border: none;
  margin: 0;
  font-size: 1rem;
  border-radius: 0.25em;
  &.circle {
    border-radius: 50%;
  }
  display: inline-block;
  text-decoration: none;
  box-sizing: border-box;
  cursor: pointer;
  overflow: hidden;
  transition: filter 0.3s ease-out, background 0.25s ease-in,
    transform 0.05s ease-out;
  &[disabled] {
    opacity: 0.7;
    pointer-events: none;
  }
  .legend {
    position: absolute;
    bottom: 0;
    transform: translateX(-50%) translateY(100%);
    font-size: 0.7em;
    width: 200%;
    text-align: center;
    left: 50%;
  }
  &:not(.noHoverEffect):hover {
    filter: drop-shadow(0 1px 2px #111);
    background: var(--bgShaded);
  }
  &:active {
    filter: drop-shadow(0 2px 5px #111);
    transform: scale(0.95);
  }
  &.fullWidth,
  & .text {
    width: 100%;
    position: relative;
  }
  &.transparent {
    background: transparent;
    &:not(.noHoverEffect):hover {
      filter: drop-shadow(0 1px 2px #111);
      @media (pointer: fine) {
        background: var(--bgShaded);
      }
    }
  }
  &.hoverReveal {
    --offset: calc(1em / 2 + calc(var(--padding) * 0.8) / 2);
    .iconCont {
      opacity: 0;
      transition: all 0.13s ease-in-out;
      transform: translate(var(--offset)) scale(0.6);
      will-change: transform;
    }
    .text {
      transition: transform 0.13s ease-in-out;
      transform: translateX(var(--offset));
      will-change: transform;
    }
    &:hover {
      .iconCont {
        opacity: 1;
        transform: none;
      }
      .text {
        transform: none;
      }
    }
  }
}
.inner {
  -webkit-tap-highlight-color: transparent;
  position: relative;
  display: flex;
  gap: calc(var(--padding) * 0.8);
  justify-content: center;
  &.alignCenter .text {
    justify-content: center;
  }
  .text {
    display: flex;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
  }
}

.iconCont {
  position: relative;
  width: 1em;
  min-height: 1.2em;
  display: flex;
  justify-content: center;
  :global(.icon) {
    position: absolute;
    height: 100%;
  }
}
.hasLegend .iconCont {
  transform: translateY(-30%);
}
