.cont {
  display: flex;
  gap: 0.2rem;
  flex-direction: column;
}
.flex {
  display: flex;
  gap: 0.2rem;
  > :nth-child(2) {
    flex: 1;
  }
}

.legend {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.legendLabel {
  font-size: 0.7em;
  color: var(--color);
  font-weight: bold;
  display: inline-block;
}

.apart {
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
