:root {
  --bg: #0e0e0e;

  --bg2: #111111;
  --bg3: #333;

  --color: #ccc;
  --color2: #fff;

  --accent-old: #7069b5;
  --accent: #8e7ce6;
  --accent-complement: rgb(102, 102, 179);

  --aspect-ratio: calc(352 / 500);

  --bgShaded: #2b2b2b; /* for hover mostly */
  --button-bg: rgb(39, 39, 39);

  --scrollbarBG: var(--bg);
  --thumbBG: #747474;

  --blue: rgb(78, 103, 170);
}

html,
body {
  margin: 0;
  padding: 0;
  background: var(--bg);
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Rubik", sans-serif;
  overscroll-behavior: none;
  /* position: fixed; */
  /* overflow: hidden; */
  overscroll-behavior: none;
  width: 100%;
}
html {
  overflow: hidden;
  height: 100%;
}
body {
  overflow: auto;
  height: calc(100% - env(safe-area-inset-bottom) - 50px);
}
@media only screen and (min-width: 1000px) {
  body:not(.standalone) {
    height: calc(100% - env(safe-area-inset-bottom));
  }
  
}

body.standalone {
  height: 100%;
}

#root {
  position: relative;
  color: var(--color);
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: none;
  width: 100%;
  --navbar-width: 250px;
  --navbar-transition: all 0.2s ease-in-out;
}

a {
  text-decoration: none;
  color: var(--accent);
}
a:hover {
  opacity: 0.8;
}

@media (pointer: fine) {
  * {
    scrollbar-color: dark;
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  }

  *::-webkit-scrollbar {
    width: 11px;
  }

  *::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
  }
  *::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG);
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
  }
}

hr {
  border: none;
  height: 1px;
  background-color: rgb(129, 129, 129);
}
