.header {
  font-weight: 300;
  margin: 0;
  position: relative;
  font-size: clamp(1.5em, 2vw, 2em);

  :global(.icon) {
    position: relative;
    height: 0.8em;
  }
  svg {
    display: block;
    height: 100%;
    fill: currentColor;
    color: currentColor;
    position: relative;
  }
}

h4.header {
  font-size: clamp(1.2em, 1.3vw, 1.8em);
}
