.as {
  height: 800px;
  width: 70%;
  background: green;
  border: 3px dotted magenta;
  position: relative;
  .inner {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  .content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: calc(var(--pageAmount) * 100%);
    background: red;
    display: flex;
    transform: translateX(calc(var(--x) * 1px + var(--shift) * 1px));
  }
}

.page {
  user-select: none;
  flex: none;
  position: relative;
  height: 100%;
  width: calc(100% / var(--pageAmount));
  background: rgb(61, 85, 116);
}
