.imageLoadFail {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 200px;
  z-index: 3;
  > div:first-child {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    > p {
      color: #e07364;
      font-size: 1.3em;
    }
    > div:first-child {
      display: flex;
      justify-content: center;
    }
  }
}

.loadingPage {
  display: flex;
  
  width: 100%;
  position: relative;
  height: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  > p {
    margin: 2rem 0;
    padding: 0 1rem;
    text-align: center;
  }
}
