.item {
  position: absolute;
  bottom: 0;
  width: 30%;
  transition: all 0.16s ease-in-out;
  &.hidden {
    pointer-events: none;
    opacity: 0;
  }
  @media only screen and (max-width: 1000px) {
    display: none;
  }
}
.button {
  user-select: none;
  color: inherit;
  transition: all 0.2s ease-in-out;
  position: absolute;
  bottom: max(240px, 30%);

  transform: translateY(50%);
}
.left {
  left: 0;
  .button {
    left: 50px;
  }
  .inner {
    border-radius: 0 50% 0 0;
    background: linear-gradient(
      45deg,
      rgba(26, 16, 49, 0.719) 0%,
      rgba(0, 212, 255, 0) 66%
    );
  }
}
.right {
  right: 0;
  .button {
    right: 50px;
  }
  .inner {
    border-radius: 50% 0 0 0;
    background: linear-gradient(
      -45deg,
      rgba(26, 16, 49, 0.719) 0%,
      rgba(0, 212, 255, 0) 66%
    );
  }
}
.inner {
  position: relative;
  width: 100%;
  background: red;
  padding-bottom: 100%;
  cursor: pointer;
  opacity: 0.9;
  transition: opacity 0.14s ease-in-out;
  &:hover {
    color: var(--accent);
    opacity: 1;
  }
}
