.search {
  position: fixed;
  width: 100%;
  height: calc(100% - var(--topBarHeight));
  box-sizing: border-box;
  padding: 1rem;
  @media screen and (max-width: 800px) {
    padding: 0.5rem;
  }
  background: rgba(0, 0, 0, 0.9);
  z-index: 1001;
  top: var(--topBarHeight);
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;
  will-change: opacity;
  overflow: auto;
  &.shown {
    opacity: 1;
    pointer-events: all;
  }
}

.loading {
  position: relative;
  height: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  h2 {
    text-align: center;
    margin-bottom: 15px !important;
  }
}
