.pageThumbnail {
    cursor: pointer;
    position: relative;
    padding: 0 0.25rem;
    flex: 1;
    transition: all 0.16s linear 0.1s;
    width: 100%;
    max-width: 100px;
    //box-sizing: border-box;

    .pageThumbnailContent {
        transition: border 0.1s ease-in-out, transform 0.16s linear,
            width 0.16s linear 0.1s;
        border: 3px solid var(--bg);
        border-radius: 0.3em;
        bottom: 0;
        left: 50%;
        position: absolute;
        padding-bottom: calc(var(--ratio) * 100%);
        width: calc(100% - 0.25rem);
        box-sizing: border-box;
        background: rgba(198, 247, 255, 0.7);
        background-size: cover;
        background-position: center;
        box-shadow: 0 0 6px -1px #000;
        display: flex;
        align-items: center;
        transform: translateX(-50%);
        justify-content: center;
        .pageThumbnailRipple {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            height: 100%;
            transform: translate(-50%, -50%);
            border-radius: inherit;
            pointer-events: none;
        }
        .pageThumbnailLabel {
            position: absolute;
            bottom: -0.2em;
            transform: translateY(100%) translateX(-50%);
            pointer-events: none;
            color: rgb(235, 235, 235);
            transition: color 0.1s ease-in-out;
            text-align: center;
            left: 50%;
            filter: drop-shadow(0 0 2px #000);
            font-size: clamp(0.8rem, 1vw, 1.2rem);
        }
    }
    &:hover {
        flex: 1;
        padding: 0 1rem;
        .pageThumbnailContent {
            width: calc(100% - 0.75rem);
            border-color: var(--accent);
            box-shadow: 0 0 5px -2px #000;
            transform: translateY(-2%) translateX(-50%);
            .pageThumbnailLabel {
                color: #fff;
            }
        }
    }
    &.pageThumbnailActive {
        .pageThumbnailContent {
            border-color: var(--accent);
            .pageThumbnailLabel {
                color: var(--accent);
            }
        }
    }
}