.switcher {
  position: relative;
  display: inline-flex;
  --gap: 0.2rem;
  gap: var(--gap);
  padding: var(--gap);
  border-radius: 6px;
  .active {
    position: absolute;
    transition: all 0.2s ease-in-out;
    background: var(--overrideAccent, var(--accent));
  }
  &.variant-default {
    background: var(--bg3);
  }
  &.variant-light {
    background: rgb(107, 107, 107);
  }
  &.variant-dark {
    background: #111;
    border: 1px solid var(--bg3);
  }
}

.item {
  position: relative;
  &.activeItem {
    pointer-events: none;
  }
}
