.chapters {
    position: relative;
    padding: 0.5rem;
    h1 {
        margin: 1rem 0;
    }
}
.sort {
    padding: 1.5rem 0;
}
.content {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}

.chapterName {
    text-align: left;
    position: relative;
    width: 100%;
    display: flex;
    .text {
        color: var(--color2);
        flex: 1;
    }
    .date {
        color: var(--color);
    }
}
